:root {
    --main-color: black;
    --font-color: white;
    --font-disabled: #b3b3b3;
    --mg-bt: 20px;
    --custom-color: rgba(0, 0, 0, .7);
    --min-height: 80px;
    --min-width: 80px;
    --btn-color: #1ed760;
}

.link {
    color: gainsboro;
    font-weight: 600;
    text-decoration: none;
}

a>.link:hover {
    text-decoration: underline;
}

hr {
    height: 0.5px;
    color: white;
}

.favorite {
    color: pink;
}

.bookmark {
    color: greenyellow;
}

.disabled {
    color: var(--font-disabled);
}

.button {
    margin: 10px;
    border: 1.5px solid white;
    border-radius: 15px;
    text-align: center;
}

.btn-large {
    font-weight: 700;
    color: var(--main-color);
    font-size: 1rem;
    text-decoration: none;
    padding: 15px;
    background-color: white;
    width: fit-content;
    border-radius: 35px;
}

.btn-small {
    line-height: 0px;
    height: 18px;
    padding: 15px;
    font-weight: 700;
    color: var(--font-color);
    border: 1px solid white;
    font-size: .8rem;
    text-decoration: none;
    background-color: var(--main-color);
    width: fit-content;
    border-radius: 35px;
}

.play-btn-scroll {
    display: block;
    padding: 0;
    margin: 0px 30px 0 0;
}

.option {
    font-size: 28px;
    color: white;
}

.btn-option {
    padding: 0;
}

.center {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    gap: 10px;
}

.direction {
    justify-content: space-between;
}

.flex-block {
    justify-content: space-between;
    display: flex;
    padding: 30px 0;
    align-items: center;
}

.align {
    display: flex;
    align-items: center;
}

.btn {
    color: var(--font-color);
}

.change-status {
    color: green;
}

.active {
    color: white;
}

.tab-content>.hidden {
    display: none;
}

.tab-content>.show {
    display: block;
}

.current-song {
    background-color: hsla(0, 0%, 100%, .2);
    border-radius: 5px;
}

.hidden {
    display: none;
}

.navbar-nav {
    gap: 50px;
    align-items: center;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
}

button:hover {
    background-color: #b3b3b3;
}

.play-btn {
    position: absolute;
}

.play-icon {
    display: block;
    box-shadow: 0 8px 8px rgb(0 0 0 / 30%);
    color: var(--font-color);
    padding: 10px;
    background-color: var(--btn-color);
    border-radius: 50%;
}




.play-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.play-btn-main {
    bottom: 90px;
    left: 80px;
}

div#banner-fav {
    margin-top: 60px;
}

.text-center {
    text-align: center;
}

.fav-theme {
    background: radial-gradient(circle at 1.8% 4.8%, rgb(17, 23, 58) 0%, rgb(58, 85, 148) 90%);
}

.banner-theme {
    background-color: rgb(8, 144, 208) !important;
}

/* Scroll Bar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--custom-color);
}

.dropdown-toggle::after {
    display: none;
}

.scroll-btn {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-scroll-title {
    margin: 0;
    color: white;
    text-transform: uppercase;
}

.order-option {
    display: flex;
}

input[type="text"] {
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    border: none;
    width: 300px;
}

input::placeholder {
    color: white;
    font-weight: 400;
}

.text-playlist {
    align-items: baseline;
}

.title-playlist {
    font-size: 1.3rem;
}

.playlist-find {
    background-color: hsla(0, 0%, 100%, .1) !important;
    border-radius: 5px !important;
}

.close-icon {
    color: white;
    font-size: 2rem;
}

.close-icon:hover,
.search-option:hover {
    cursor: pointer;
}

.select {
    background-color: var(--font-disabled);
    border-radius: 5px;
    color: white;
}

.text-xs {
    font-weight: 600;
    font-size: 1.5rem;
}

a.profile-nav {
    text-decoration: none;
    color: white;
}

a.profile-nav:hover {
    text-decoration: underline;
}