:root {
  --primary-color: #ec1f55;
  --text-color: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: #f5f5f5;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.player {
  display: block;
  height: auto;
  position: relative;
  margin: 0 auto;
  flex-direction: column;
}

.control .icon-pause,
.btn-toggle-scroll-play .icon-pause {
  display: none;
}

.btn-volume {
  display: flex;
  align-items: center;
}

.control.playing .icon-pause,
.btn-toggle-scroll-play.playing .icon-pause {
  display: inline-block;
}

.control.playing .icon-play,
.btn-toggle-scroll-play.playing .icon-play {
  display: none;
}

input.progress.volume-progrees {
  width: 80px;
  background-color: white;
}

.dashboard {
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  position: fixed;
  background-color: #181818;
  z-index: 10;
  width: 100%;
  padding: 10px;
  height: 90px;
  display: flex;
  border-bottom: 1px solid #ebebeb;
}

/* HEADER */
header {
  width: 160px;
  text-align: left;
  margin: 10px 0 0 10px;
}

header h4 {
  color: yellow;
  font-size: 12px;
}

header h5 {
  color: #999;
  font-size: 12px;
}

header h2 {
  color: #fff;
  font-size: 12px;
  white-space: pre;
}

/* CD */
.cd {
  display: flex;
  margin: auto;
  width: 65px;
}

.cd-thumb {
  width: 100%;
  padding-top: 100%;
  background-color: #333;
  background-size: cover;
  margin: auto;
}

/* CONTROL */

.user__control {
  gap: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.control .btn {
  color: #fff;
  padding: 18px;
  font-size: 12px;
}

.control .btn.active {
  color: var(--btn-color);
}

.control .btn-toggle-play,
.play-btn-scroll .btn-toggle-scroll-play {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  font-size: 17px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--btn-color);
}

.progress {
  width: 500px;
  -webkit-appearance: none;
  height: 3px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 6px;
  background-color: var(--primary-color);
  cursor: pointer;
}

/* PLAYLIST */
.playlist {
  height: 1000px;
  padding: 12px;
  float: right;
  width: 100%;
}

.song {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding: 8px 16px;
}

.song__info {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.song:hover {
  background-color: hsla(0, 0%, 100%, .2);
  border-radius: 5px;
}

.song.active {
  background-color: var(--primary-color);
}

.song:active {
  opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .index,
.song.active .title {
  color: #fff;
}

.song .thumb {
  width: 44px;
  height: 44px;
  background-size: cover;
  margin: 0 8px;
}

.song .body {
  flex: 1;
  padding: 0 16px;
}

.song .title {
  font-size: 18px;
  color: white;
}

.song .author {
  font-size: 12px;
  color: white;
}

.song .option {
  padding: 16px 8px;
  color: white;
  font-size: 18px;
}

.song .index {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);
  padding-right: 16px;
}

p.author {
  margin: 0;
}

.song .btn-toggle-play {
  display: none;
}

.song .btn.btn-mic {
  display: none;
}

.song:hover .btn-toggle-play,
.song:hover .btn.btn-mic {
  display: block;
}


/* #main__page,
#search__page,
#lib__page,
#banner-fav {
  display: none;
} */

.music_note-icon {
  box-shadow: 0 8px 8px rgb(0 0 0 / 30%);
  padding: 100px;
  color: white;
}

.play-list-search {
  width: 100%;
}